@using Trainings.Services

@inject LanguageService language

@model IEnumerable<Trainings.Models.Response.TrainingModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@language.GetKey("Trainings")</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; @language.GetKey("Create New Training")
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @language.GetKey("Name")
                    </th>
                    <th>
                        @language.GetKey("Technology")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        @if (obj.Image != "")
                        {
                            <td width="10%">
                                <img src="@WebConstants.ImagePath@obj.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td width="30%">@obj.Name</td>
                        <td width="10%">@obj.TechnologyName</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Upsert" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@language.GetKey("No trainings exists")</p>
    }

</div>