@page
@model RegisterModel

<div id="logreg-forms">
    <h1 class="h3 mb-3 pt-4 font-weight-normal" style="text-align:center; color:purple">Register</h1>
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
            <p>
                @foreach (var provider in Model.ExternalLogins)
                {
                    @if (provider.Name.ToLower().Contains("facebook"))
                    {
                        <button type="submit" class="btn btn-block facebook-btn form-control"
                        name="provider" value="@provider.Name">
                            <i class="fab fa-facebook-square"></i>@provider.DisplayName
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name">@provider.DisplayName</button>
                    }
                }
            </p>
        </div>
    </form>

    <form id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
            <p style="text-align:center">OR</p>
        }

        <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <input asp-for="Input.Password" placeholder="Password..." type="password" class="mb-1 form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" type="password" class="mb-1 form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

        <button id="registerSubmit" type="submit" class="w-100 custom-button">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
